<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
    </title>
</head>
<body>
    <h1>Lista de Médicos</h1>
    <table class="medics">
        <th>
            <tr>
                <th>CRM</th>
                <th>Nome</th>
                <th>Especialização</th>
                <th>Data de contratação</th>
            </tr>
            {% for m in medicos %}
                <tr>
                    <td>{{ m.crm }}</td>
                    <td>{{ m.name }}</td>
                    <td>{{ m.especialzation }}</td>
                    <td>{{ m.hire_date }}</td>
                </tr>
            {% endfor %}
        </th>
    </table>
</body>
</html>