<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vida+</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<header>
    <h1>Clínica Vida+</h1>
    <div class="buttons">
        <button>Médicos</button>
        <button onclick=window.location='{% url "patients_list" %}'>Pacientes</button>
        <button>Agendar Exame</button>
    </div>
</header>
<body>
    
</body>
<footer>

</footer>
</html>