<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Exames</title>
</head>
<body>
    <h1>Lista de Exames</h1>

    <table id="exam_tbl">
        <tr>
            <th>Tipo de exame</th>
            <th>Paciente</th>
            <th>Médico</th>
            <th>Data de criação</th>
            <th>Data agendada</th>
            <th>Estatus</th>
            <th>Valor</th>
            <th>Pagamento</th>
        </tr>

        <tbody>
            {% for exam in exams %}{% endfor %}
            <tr>
                <td>{% exam.exam_type %}</td>
                <td>{% exame.exam_type %}</td>
                <td>{% exame.exam_type %}</td>
                
            </tr>
        </tbody>
    </table>

    <ul>
        {% for exame in exames %}
            <li>{{ exame.exam_type }}</li>
        {% endfor %}
    </ul>
</body>
</html>