<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Pacientes</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'patients/style.css' %}">
</head>
<body>

    <h1>Cadastro de Pacientes</h1>

    {% if success %}
        <div class="msg success">
            Paciente adicionado com sucesso.
        </div>
    {% endif %}

    {% if error %}
        <div class="msg error">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST" id="patient_form">
        {% csrf_token %}

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" placeholder="CPF" required><br>

        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Nome" required><br>

        <label for="age">Idade:</label>
        <input type="number" name="age" placeholder="Idade" required><br>

        <label for="addres">Endereço:</label>
        <input type="text" name="addres" placeholder="Endereço" required><br>

        <label for="phone">Telefone:</label>
        <input type="text" name="phone" placeholder="Telefone">

        <button type="submit">Salvar</button>
        <button type="button" onclick="window.location='{% url 'patients_list' %}'">Voltar</button>
    </form>

</body>
</html>