<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar paciente</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'patients/style.css' %}">
</head>
<body>

    <form method="POST" id="confirm_del_form">
        {% csrf_token %}

        <button type="submit" onclick="window.location='{% url "remove_patient" patient.cpf %}'">Confirmar</button>
        <button type="button" onclick=window.location="{% url 'get_patient' patient.cpf %}" id="btn_cancel_del">Cancelar</button>
    </form>
</body>
</html>