<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Paciente</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "patients/style.css" %}">
</head>
<body>
    <header>
        <a href="{% url 'patients_list' %}" class="head_btn">
            <img src="{% static "patients/icons/back_icon.png" %}" alt="Voltar">
        </a>

        <h2>{{ patient.name.upper }}</h2>
    </header>

    {% if success %}
        <h2>Excluir o cadastro do paciente {{ patient.name.upper }}?</h2>

        <form method="POST">
            {% csrf_token %}

            <button type="submit" onclick="window.location='{% url "remove_patient" patient.cpf %}'">Confirmar</button>

            <button type="button" onclick=window.location="{% url 'get_patient' patient.cpf %}">Cancelar</button>
        </form>
    {% endif %}

    <label for="cpf">
        <h3>CPF:</h3>
    </label>
    <p name="cpf">{{ patient.cpf }}</p>
    
    <label for="age">
        <h3>Idade:</h3>
    </label>
    <p name="age">{{ patient.age }}</p>

    <label for="addres">
        <h3>Endereço:</h3>
    </label>
    <p name="addres">{{ patient.addres }}</p>

    <label for="phone">
        <h3>Telefone:</h3>
    </label>
    <p id="phone">{{ patient.phone }}</p>

    <label for="exams_list">
        <h3>Exames:</h3>
    </label>
    {% if patient.exams.exists %}
        <table id="exams_list">
            <tr class="t_header">
                <th>Tipo</th>
                <th>Data agendada</th>
                <th>Status</th>
            </tr>

            {% for exam in patient.exams.all %}
                <tr>
                    <td>{{ exam.exam_type }}</td>
                    <td>{{ exam.scheduled_date }}</td>
                    <td>{{ exam.status }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p><i>Sem exames cadastrados.</i></p>
    {% endif %}

    <button type="button" onclick="window.location='{% url 'patients_list' %}'">Voltar</button>

    <button type="button" onclick="window.location='{% url 'update_patient' patient.cpf %}'">Atualizar Cadastro</button>

    <form action="{% url 'remove_patient' patient.cpf %}" method="POST">
        {% csrf_token %}
        <button type="submit" name='confirm' value="1">Apagar Cadastro</button>
    </form>

    {% if confirm_delete %}
        <div class="confirm-box">
            <p>Tem certeza que deseja apagar?</p>

            <form action="{% url 'remove_patient' patient.cpf %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="confirmed" value="yes">
                <button type="submit">Confirmar</button>
                <a href="{% url 'get_patient' patient.cpf %}" id="btn_cancel_del">Cancelar</a>
            </form>

        </div>
    {% endif %}
</body>
</html>