<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Paciente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "patients/style.css" %}">
</head>
<body>
    <header>
        <a href="{% url 'patients_list' %}" class="head_btn">
            <img src="{% static "patients/icons/back_icon.png" %}" alt="Voltar">
        </a>

        <h2>{{ patient.name.upper }}</h2>
    </header>

    <label for="cpf">CPF:</label>
    <p name="cpf">{{ patient.cpf }}</p>
    
    <label for="age">Idade:</label>
    <p name="age">{{ patient.age }}</p>

    <label for="addres">Endereço:</label>
    <p name="addres">{{ patient.addres }}</p>

    <label for="phone">Telefone:</label>
    <p id="phone">{{ patient.phone }}</p>

    {% if patient.exams.all %}
        <table>
            <tr class="t_header">
                <th>Tipo</th>
                <th>Data agendada</th>
                <th>Status</th>
            </tr>

            {% for exam in p.exams.all %}
                <tr>
                    <td>{{ exam.exam_type }}</td>
                    <td>{{ exam.scheduled_date }}</td>
                    <td>{{ exam.status }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Sem exames cadastrados.</p>
    {% endif %}

    <button type="button" onclick=window.location="{% url 'patients_list' %}">Voltar</button>

    <button type="submit" onclick=window.location="{% url 'update_patient' patient.cpf %}">Atualizar Cadastro</button>

    <button type="submit">Apagar Cadastro</button>
</body>
</html>