<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Vida+</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'patients/style.css' %}">

    <style>
        .info_sub{
            font-weight: 800 ;
        }
    </style>
</head>
<body>
    <header>
        <a href="{% url 'patients_list' %}" class="head_btn">
            <img src="{% static 'patients/icons/back_icon.png' %}" alt="Voltar">
        </a>

        <h1>Estatísticas</h1>
    </header>

    <div class="tbl-info">
        <p><strong>Cadastros:</strong> {{ qtd }} </p>

        <p><strong>Média de idade:</strong> {{ avg_age }}</p>
        
        <p><strong>Paciente mais velho:</strong></p>
        <div style="margin-left: 24px;">
            <p><strong>Nome:</strong> {{ older.name}} </p>
            <p><strong>idade:</strong> {{older.age}} </p>
        </div>
        
        <p><strong>Paciente mais jovem:</strong></p>
        <div style="margin-left: 24px;">
            <p><strong>Nome:</strong> {{ younger.name}} </p>
            <p><strong>idade:</strong> {{younger.age}} </p>
        </div>
    </div>
</body>
</html>